# Dependencies
node_modules/

# Build
dist/

# TypeScript incremental
*.tsbuildinfo

# Environment
.env
.env.*
!.env.example

# Logs
logs/
*.log

# Testes
coverage/

# SO
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
