/* Font import */
/* @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap'); */

/* ------ Light Themes Styles ------ */
:root {
    --primary: #f37913;
    --secondary: #E67137;
    --text-color: #484848;
    --bg-color: #f7f7ff;
    --bg-body: linear-gradient(180deg, #F7F7FF, rgba(240, 240, 255, 0.681));
    --bg-input: #ffffff;

    --input-border: 1px solid #d4d4d4;
    --input-focus-border: rgba(251, 153, 55, 0.853);
    --input-focus-shadow: 0 0 2px 1px rgba(220, 112, 4, 0.325);

    --bg-img-perfil: #ffffff;
    --border-img-perfil: 12px solid #ffffff;

    --bg-descryption: #ffffff;
    --bg-profile-card: #ffffff;
    --bg-settings: #fcfcfc;
    --bg-profile: url('/imgs/profile-cover-themes/sunset-theme.png');
    --color-p-bio-item: #787878;
    --color-profile-info: #515151;
    --color-p-bio-item-active: #616161;

    --bg-theme-box: #FFFFFF;
    --border-theme-box: 3px solid #D9D9D9;
    --border-circle-theme: 3px solid #d5d5d5;

    --bg-btn: #f8f9fa;
    --border-btn: 1px solid #f8f9fa;

    --validation-li-valid: #008000;
    --validation-li-default: #898989;
    --validation-li-invalid: #c81414;

    --settings-shadow: 0px 3px 12px rgba(72, 72, 72, 0.126);
    --theme-box-shadow: 0px 0px 3px 1px rgba(255, 149, 42, 0.763);
    --profile-img-shadow: 0px 0px 4px 2px rgba(46, 46, 46, 0.567);
    --bio-descryption-shadow: 3px 3px 9px rgba(89, 89, 89, 0.232);
    --main-container-shadow: 2px 7px 8px 2px rgba(61, 13, 0, 0.166);
}

[data-theme="east-blue"] {
    --primary: #009FDB;
    --secondary: #00A5E0;
    --bg-color: #F4FBFD;
    --text-color: rgba(29, 42, 54, 0.847);
    --bg-body: linear-gradient(180deg, #F4FBFD, rgba(228, 247, 251, 0.764));
    --bg-profile: url('/imgs/profile-cover-themes/east-blue-theme.jpg');
    --bg-descryption: #ffffff;
    
    --bg-img-perfil: #ffffff;
    --border-img-perfil: 12px solid #ffffff;
    
    --input-focus-border:  rgba(10, 190, 255, 0.853);
    --input-focus-shadow: 0 0 2px 1px rgba(0, 180, 245, 0.325);
    
    --color-profile-info: rgba(29, 42, 54, 0.756);
    
    --theme-box-shadow: 0px 0px 3px 1px rgba(10, 190, 255, 0.763);
    --profile-img-shadow: 0px 0px 4px 2px rgba(0, 23, 32, 0.567);
    --bio-descryption-shadow: 3px 3px 9px rgba(89, 89, 89, 0.232);
}

[data-theme="kuma"] {
    --primary: #4C8C64;
    --secondary: #47855F;
    --text-color: rgba(42, 58, 46, 0.877);
    --bg-body: linear-gradient(180deg, #FAF8F3, rgba(243, 239, 226, 0.43));
    --bg-profile: url('/imgs/profile-cover-themes/kuma-theme.jpg');
    --bg-descryption: #ffffff;

    --bg-img-perfil: #ffffff;
    --border-img-perfil: 12px solid #ffffff;

    --input-focus-border: rgba(86, 159, 114, 0.903);
    --input-focus-shadow: 0 0 2px 1px rgba(210, 183, 116, 0.566);
    
    --color-profile-info: rgba(42, 58, 46, 0.756);
    
    --theme-box-shadow: 0px 0px 3px 1px rgba(86, 159, 114, 0.904);
    --profile-img-shadow: 0px 0px 4px 2px rgba(31, 41, 33, 0.703);
    --bio-descryption-shadow: 3px 3px 9px rgba(89, 89, 89, 0.232);
}

/* 
[data-theme="autumn"] {
    --primary: #ff825c;
    --secondary: #ff825c;
    --text-color: #f8f8f8;
    --bg-color: #a03838;
    --bg-body: #121212;
    --bg-input: #333333;

    --input-border: 1px solid #222222;
    --input-focus-border: rgba(255, 133, 96, 0.853);
    --input-focus-shadow: 0 0 2px 1px rgba(255, 119, 77, 0.71);

    --bg-img-perfil: #ffffff;
    --border-img-perfil: 12px solid #474747;

    --bg-descryption: #333333;
    --bg-profile-card: #1e1e1e;
    --bg-settings: #1e1e1e;
    --bg-profile: url('/imgs/profile-cover-themes/sunset-theme.png');
    
    --color-p-bio-item: #c5cfc5;
    --color-profile-info: #e7f3f3;
    --color-p-bio-item-active: #dadada;

    --bg-theme-box: #333333;
    --border-theme-box: 3px solid #474747;
    --border-circle-theme: 3px solid #808080;

    --bg-btn: #292929;
    --border-btn: 1px solid #333333;

    --settings-shadow: 0px 0px 3px 1px rgba(20, 20, 20, 0.838);
    --theme-box-shadow: 0px 0px 3px 1px rgba(255, 113, 70, 0.763);
    --profile-img-shadow: 0px 0px 4px 2px rgba(46, 46, 46, 0.816);
    --bio-descryption-shadow: 3px 3px 9px rgba(89, 89, 89, 0.232);
    --main-container-shadow: 2px 7px 8px 2px rgba(61, 13, 0, 0.166);
}

[data-theme="nightfall"] {
    --primary: #00e5ff;
    --secondary: #3a8dff;
    --text-color: #EAF7FF;
    --bg-color: #a03838;
    --bg-body: #111111;
    --bg-input: #101219;

    --input-border: 1px solid #222222;
    --input-focus-border:  rgba(64, 143, 255, 0.918);
    --input-focus-shadow: 0 0 2px 1px rgba(0, 221, 245, 0.577);

    --bg-img-perfil: #EAF7FF;
    --border-img-perfil: 12px solid #1F2533;

    --bg-descryption: linear-gradient(180deg, #101219, #151922);
    --bg-profile-card: #151922;
    --bg-settings: #1e1e1e;
    --bg-profile: url('/imgs/profile-cover-themes/nightfall-theme.jpg');
    
    --color-p-bio-item: #d7effdcf;
    --color-profile-info: #EAF7FF;
    --color-p-bio-item-active: #EAF7FF;

    --bg-theme-box: #333333;
    --border-theme-box: 3px solid #474747;
    --border-circle-theme: 3px solid #808080;

    --bg-btn: #151922;
    --border-btn: 1px solid #272E3F;

    --settings-shadow: 0px 0px 3px 1px rgba(20, 20, 20, 0.838);
    --bio-descryption-shadow: 3px 3px 9px rgba(13, 13, 13, 0.759);
    --theme-box-shadow: 0px 0px 3px 1px rgba(71, 148, 255, 0.763);
    --profile-img-shadow: 0px 0px 4px 2px rgba(62, 72, 101, 0.816);
    --main-container-shadow: 2px 7px 8px 2px rgba(61, 13, 0, 0.166);
}

[data-theme="twilight"] {
    --primary: #00e5ff;
    --secondary: #3a8dff;
    --text-color: #EAF7FF;
    --bg-color: #a03838;
    --bg-body: #111111;
    --bg-input: #101219;

    --input-border: 1px solid #222222;
    --input-focus-border:  rgba(64, 143, 255, 0.918);
    --input-focus-shadow: 0 0 2px 1px rgba(0, 221, 245, 0.577);

    --bg-img-perfil: #EAF7FF;
    --border-img-perfil: 12px solid #1F2533;

    --bg-descryption: linear-gradient(180deg, #101219, #151922);
    --bg-profile-card: #151922;
    --bg-settings: #1e1e1e;
    --bg-profile: url('/imgs/profile-cover-themes/twilight-theme.jpg');
    
    --color-p-bio-item: #d7effdcf;
    --color-profile-info: #EAF7FF;
    --color-p-bio-item-active: #EAF7FF;

    --bg-theme-box: #333333;
    --border-theme-box: 3px solid #474747;
    --border-circle-theme: 3px solid #808080;

    --bg-btn: #151922;
    --border-btn: 1px solid #272E3F;

    --settings-shadow: 0px 0px 3px 1px rgba(20, 20, 20, 0.838);
    --theme-box-shadow: 0px 0px 3px 1px rgba(71, 148, 255, 0.763);
    --profile-img-shadow: 0px 0px 4px 2px rgba(62, 72, 101, 0.816);
    --bio-descryption-shadow: 3px 3px 9px rgba(13, 13, 13, 0.759);
    --main-container-shadow: 2px 7px 8px 2px rgba(61, 13, 0, 0.166);
}

*/

/* ------ General Styles ------ */
body {
    /* font-family: 'Manrope', sans-serif; */
    color: var(--text-color);
    /* background-color: var(--bg-color); */
    background: var(--bg-body);
}

h3, h4 {
    font-weight: 500;
    line-height: 1.2;
    margin: 0 0 .5rem 0;
}

h4 { font-size: 1.5rem; }
h3 { font-size: calc(1.3rem + .6vw); }

p {
    margin-top: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

input {
    padding: 10px 40px;
    border-radius: 8.5px;
    border: var(--input-border);
    background-color: var(--bg-input);
}

input:focus {
    outline: none;
    border: 1px solid var(--input-focus-border);
    box-shadow: var(--input-focus-shadow);
}

ul { font-size: 14px; }
ul li { list-style: none; }

/* ------ Overflows Styles ------ */
#overflow.active {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(28, 28, 28, 0.242);
    z-index: 999;
}

body.shadow-active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(28, 28, 28, 0.242);
    z-index: 3;
}

/* ------ Containers Styles ------ */
#main-container {
    max-width: 1250px;
    box-shadow: var(--main-container-shadow);
}

#container {
    max-width: 790px;
    background-color: var(--bg-profile-card);
    box-shadow: 0px 3px 12px rgba(89, 89, 89, 0.126);
    z-index: 3;
}

/* ------ Profile Card Styles ------ */
#bg-card-img {
    top: 0;
    left: 0;
    height: 220px;
    background-size: cover;
    background: var(--bg-profile), 
                        center center no-repeat;
    box-shadow: 0px 3px 12px rgba(89, 89, 89, 0.232);
    border-radius: 0px 0px 40px 160px;
    z-index: -1;
}

.img-perfil {
    cursor: pointer;
    border: var(--border-img-perfil);
    background-color: var(--bg-img-perfil);
    transition: opacity ease-in .5s;
}

.img-perfil img {
    width: 170px;
    height: 170px;
    object-fit: cover;
    box-shadow: var(--profile-img-shadow);
    transition: opacity .2s ease-in-out;
}

.img-perfil:hover img { 
    opacity: 0.69; 
}

#change-img-msg {
    opacity: 0;
    max-width: 85px;
    font-size: 12px;
    border-radius: 12px;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.681);
    transition: opacity .6s ease-in, visibility .7s ease-in;
}

.img-perfil:hover #change-img-msg {
    visibility: visible;
    opacity: 1;
}

/* ------ Bio Descryption Styles ------ */
#bio-descryption {
    height: fit-content;
    background: var(--bg-descryption);
    border-left: 4px solid var(--secondary);
    box-shadow: var(--bio-descryption-shadow);
}

#bio-descryption.active p {
    font-size: 18px;
    margin-bottom: 8px;
    color: var(--color-p-bio-item-active);
}

.bio-item>p {
    color: var(--color-p-bio-item);
    margin-bottom: 2px;
}

.bio-item label i {
    color: var(--text-color);
    font-size: 14px;
    cursor: pointer;
    z-index: 400;
}

.profile-info {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-profile-info);
}

.profile-grid {
    grid-template-columns: 200px 2fr;
    gap: 2.2rem;
}

/* ------ Side image cover styles ------ */
#florest-cover-md, 
#florest-cover-mobile {
    display: none;
}

/* ------ Auth forms styles ------ */
#auth-forms {
    color: #484848;
    max-width: 384px;
    margin-left: 168px;
    font-size: 1.02rem;
    height: fit-content;
    z-index: 2;
}

#login-container, 
#register-container {
    display: none;
}

#login-container.active,
#register-container.active {
    gap: 36px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* ------ Inputs styles ------ */
.input-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.input-icon {
    position: absolute;
    top: 14px;
    left: 12px;
    width: 18px;
    font-size: 18px;
    fill: var(--validation-li-invalid);
}

.password-label {
    position: absolute;
    top: 1px;
    right: 4px;
    width: 18px;
    font-size: 18px;
}

.input-error,
.edit-input-error {
    position: absolute;
    top: -8px;
    left: 40px;
    padding: 0 4px;
    font-weight: 500;
    font-size: 0.75rem;
    background-color: var(--bg-input);
    color: #D7655B;
    z-index: 10;
}

.edit-input-error { 
    left: 8px; 
    font-size: 0.8rem;
}

.input-error label { margin-left: 2px; }

/* #confirm-register-password-container {
    display: none;
} */

/* ------ Login Options Styles ------ */
.remember-me-container label {
    cursor: pointer;
    font-weight: 500;
    color: #757575;
}

#remember-me {
    accent-color: #F5903D;
}

#remember-me:focus {
    box-shadow: none;
}

#forgot-password {
    margin-top: -24px;
    align-self: flex-end;
}

/* ------ Visibility styles ------ */
.input-item label i {
    top: 14px;
    right: 10px;
    color: #484848;
    position: absolute;
    z-index: 5;
}

/* ------ Validation Message Styles ------ */
.error-message, 
.valid-message {
    font-size: .78rem;
    position: absolute;
    top: 44.99px; 
    left: 0; 
}

/* ------ Password Validation Styles ------ */
#validation {
    max-height: 0;
    display: none;
    overflow: hidden;
    transition: max-height .5s ease-in-out;
}

#validation.show {
    max-height: 110px;
    margin: 20px 0 0 0;
    animation: fade .5s ease-in-out;
}

#bio-descryption #validation.show {
    margin: 20px 0 12px 0;
}

#validation li.default {
    color: var(--validation-li-default);
}

#validation li.invalid-pass {
    color: var(--validation-li-invalid) !important;
}

#validation li.valid {
    color: var(--validation-li-valid) !important;
}

/* ------ Modal Settings Styles ------ */
#settings {
    z-index: 4;
    display: none;
    max-width: 890px;
    background-color: var(--bg-settings);
    box-shadow: var(--settings-shadow);
}

#close-settings {
    top: 48px;
    right: 48px;
    color: #888888;
}

/* ------ Theme Section Styles ------ */
.theme-box {
    padding: 0;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    max-width: 240px;
    height: fit-content;
    border-radius: 12px;
    border: var(--border-theme-box);
    background-color: var(--bg-theme-box);
    transition: all ease-in-out .2s;
}

.theme-box:hover {
    transform: scale(1.002) translateY(-1px);
    box-shadow: var(--theme-box-shadow);
}

.theme-box.inactive {
    opacity: 0.5;
    pointer-events: none;
    filter: grayscale(1);
}

.theme-box.selected {
    box-shadow: var(--input-focus-shadow);
    border: 3px solid var(--input-focus-border);
}

.circle-theme,
.theme-box.selected .circle-theme {
    width: 19px;
    height: 19px;
    border: 3px solid var(--input-focus-border);
    box-shadow: var(--input-focus-shadow);
}

.circle-theme {
    border: var(--border-circle-theme);
}

.theme-image {
    overflow: hidden;
    max-height: 120px;
}

.theme-image img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.theme-header {
    gap: .4rem;
    padding: 16px;
}

#settings p, 
.theme-header h4 { font-size: 1.012rem !important; }

/* ------ Profile Options Styles ------ */
#edit-options button, 
#account-options button,
#bio-descryption input {
    width: 100%;
    padding: 10px;
    display: none;
}

#edit-options.active button,
#account-options.active button,
#bio-descryption.active input {
    display: block;
}

/* ------ Buttons styles ------ */
.btn {
    padding: 8px 16px;
    border-radius: 8px;
    color: var(--text-color) !important;
    border: var(--border-btn) !important;
    background-color: var(--bg-btn) !important;
    transition: all ease-in .3s;
}

.btn:hover,
#settings .btn:hover  {
    color: var(--text-color) !important;
    border: var(--border-btn) !important;
    background-color: transparent !important;
}

#settings .btn {
    background-color: #eeeeee;
    border: 1px solid #cdcdcd !important;
}

#settings .btn-dark {
    color: var(--bg-color);
    background-color: #484848;
}

.btn-auth-form, 
#forgot-password {
    border: none;
    font-weight: 500;
    color: #F37913;
    width: fit-content;
    background-color: transparent;
    transition: all .2s ease;
}

.btn-auth-form:hover, 
#forgot-password:hover {
    color: #D5660B;
    transform: scale(1.01);
}

#submit-login,
#submit-register, 
.confirmation-btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    background-color: #F37913;
    color: #ffffff;
}

/* ------ Alert Notifications ------ */
.alert {
    width: 490px;
    visibility: 1;
    transition: all .9s ease-in;
    box-shadow: var(--bio-descryption-shadow);
    z-index: 9999;
}

.btn-close-notification {
    transform: scaleX(1.4);
    transform-origin: right;
    background-color: var(--bg-profile-card);
}

.hide {
    visibility: 0;
    animation: fade-in .3s ease-in-out;
}

/* ------ Page Animations ------ */
.fade {
    animation: fade .3s ease-in-out;
}

.fade-in-medium {
    animation: fade-in .81s ease-in-out;
}

.fade-in {
    animation: fade-in .7s ease-in-out;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ------ Desktop Responsivity ------ */
@media(max-width: 1024px) {
    body { padding: 20px; }

    #auth-forms {
        padding: 0;
        min-width: 300px;
        justify-content: center;
        margin-left: 100px;
    }

    #florest-cover-lg { display: none; }
    #florest-cover-md { 
        margin: 0; 
        display: block; 
        object-fit: cover; 
        transform: translateX(14%); 
    }
}

/* ------ Tablet Responsivity ------ */
@media(max-width: 768px) {
    body {
        padding: 10px;
    }

    #container {
        padding: 64px;
    }
    
    .profile-grid {
        grid-template-columns: 1fr;
    }

    #bg-card-img {
        height: 174px;
    }

    .img-perfil img {
        width: 144px;
        height: 144px;
    }
    
    #account-options {
        display: grid;
        grid-template-columns: 1 fr;
    }

    #row-buttons { flex-wrap: wrap; }
}

@media(max-width: 720px) {
    #main-container {
        width: 100%;
        height: 700px;
        align-items: center;
        justify-content: center;
    }
    
    #auth-forms {
        margin: 0;
        width: 100%;
    }
    
    #login-container.active,
    #register-container.active {
        width: 100%;
        padding: 44px 24px;
        border-radius: 12px;
        background-color: #ffffff;
        box-shadow: 0 0 10px rgba(53, 53, 53, 0.427);
        gap: 2.75rem;
    }

    #florest-cover-mobile {
        position: absolute;
        top: 0;
        width: 100%;
        display: block;
        min-height: 150px;
        background: url('/imgs/florest-cover-imgs/florest-cover-mobile.png') no-repeat center center;
    }

    #florest-cover-md { display: none; }
}

/* ------ Mobile Responsivity ------ */
@media(max-width: 480px) {
    body { padding: 8px; }

    #main-container { 
        width: 100%; 
        padding: 1.25rem; 
    }

    #container {
        padding: 36px;
    }

    #bio-descryption {
        padding: 20px;
    }

    #auth-forms { min-width: unset; }
}

/* ------ Page: Forgot Password | Styles ------ */
.forgot-container {
    box-shadow: 0 7px 10px 0 rgba(130, 130, 130, 0.16);
    transition: padding-bottom .6s ease-in;
    display: none;
}

.forgot-container.active { display: flex; }

.forgot-container:has(.loading-container) {
    padding-bottom: 100px !important;
}

#input-item-forgot .input-forgot {
    width: 100%;
    padding: 8px 0;
    font-size: 1.4rem;
    color: #484848;
    text-align: center;
    appearance: textfield;
    -moz-appearance: textfield;
}

.input-forgot::-webkit-inner-spin-button,
.input-forgot::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.hidden { display: none; }

/* ------ Loading Spinner Style ------ */
.loading-container { display: none; }
.loading-container.active { display: flex; }

.loading-spinner {
    width: 40px;
    height: 40px;
    border: 4px solid rgba(196, 196, 196, 0.436);
    border-top: 4px solid rgba(213, 102, 11, 0.918);
    animation: spinner 0.9s linear infinite;
}

.loading-container span { letter-spacing: 2px; }
.loading-container p { animation: colorVisible 4s ease; }

@keyframes spinner {
    to { transform: rotate(360deg); }
}

@keyframes colorisibility {
    from { color: transparent; }
    to   { color: #484848; }
}